{% extends 'homepage/Base.html' %}
{% block title %}
    <title>Chế Độ Thuốc</title>
{% endblock %}

{% block content %}
    <div class="container mt-2">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'homepage' %}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Profile</li>
            </ol>
        </nav>
    </div>
    <div class="container jumbotron mt-3 pt-3 bg-light">
        <fieldset class="border-bottom border-success mb-3">
            <legend class="text-success"><p class="d-inline ">Chế Độ Dinh Dưỡng</p>
                <div class="float-right">
                <input type="radio" name="gannhat" id="gannhat">
                <label for="gannhat" ><h6 class="text-dark">Gần Nhất</h6></label></div>
            </legend>
        </fieldset>
        <table class="table table-{1:striped|sm|bordered|hover|inverse} table-inverse table-bordered">
            <thead class="thead-inverse|thead-default table-bordered table-success">
            <tr>
                <th>Mã Khám</th>
                <th>Nội Dung</th>
                <th>Hướng Dẫn</th>
                <th>Chỉ Định</th>
                <th>Ghi Chú</th>
            </tr>
            </thead>
            <tbody id="body">
            {% for value in chedodinhduong %}
                <tr>
                    <td scope="row">{{ value.0 }}</td>
                    <td scope="row">{{ value.1 }}</td>
                    <td scope="row">{{ value.2 }}</td>
                    <td scope="row">{{ value.3 }}</td>
                    <td scope="row">{{ value.4 }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% load static %}
    <script src="{% static 'bootstrap/js/patient.js' %}"></script>
{% endblock %}


