<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'bootstrap/js/jquery-3.5.1.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'HomePage/CSS/style.css' %}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <link rel="shortcut icon"
          href="{% static 'HomePage/doctor.svg' %}"
          type="image/icon type">
    {% block extraheader %}
    {% endblock extraheader %}
    {% block title %}
    {% endblock title %}
</head>

<body style="padding-top: 65pt">

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a href="{% url 'homepage' %}" class="navbar-brand">
        <div class="logo">
            {% if user.is_authenticated %}
                {% if user.isPatient %}
                    BK Patient
                {% elif user.isDoctor %}
                    BK Doctor
                {% else %}
                    BK Manager
                {% endif %}
            {% else %}
                BK Hospital
            {% endif %}
        </div>
    </a>
    <div class="collapse navbar-collapse ml-md-4" id="navbarCollapse">
        <div class="navbar-nav">
            <a href="{% url 'homepage' %}" class="nav-item nav-link active">Home</a>
            {#            <a href="" class="nav-item nav-link">Menu</a>#}
            <a href="{% url 'profile' %}" class="nav-item nav-link">Thông Tin</a>
            {% if user.isDoctor %}
                <a href="{% url 'patient_info' %}" class="nav-item nav-link">Bệnh Nhân</a>
                <a href="{% url 'more_info' %}" class="nav-item nav-link">Thông Tin Khác</a>
            {% endif %}
        </div>
        <div class="navbar-nav ml-auto">
            {% if not user.is_authenticated %}
                <a href="{% url 'login' %}">
                    <button class="btn btn-light">Đăng Nhập</button>
                </a>
            {% else %}
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle mr-sm-2" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ user.get_username }}
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="{% url 'logout' %}">Đăng xuất</a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</nav>

{% block content %}
{% endblock content %}
<!--script-->
<script src="{% static 'bootstrap/js/jquery-3.5.1.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.bundle.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
</body>
<script src="{% static 'django_js_reverse/js/reverse.js' %}"></script>
<script>
    toastr.options.closeButton = true;
    toastr.options.closeMethod = 'fadeOut';
    toastr.options.closeDuration = 300;
    toastr.options.closeEasing = 'swing';
    toastr.options.positionClass = "toast-bottom-right";
    {% if messages %} {% for message in messages %}
        toastr.{{ message.tags }}('{{ message}}');
    {% endfor %} {% endif %}
</script>
</html>