{% extends 'homepage/Base.html' %}
{% block title %}
    <title>Doctor</title>
{% endblock %}
{% block extraheader %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'patient/patient_detail.css' %}">
{% endblock %}
{% block content %}

    <div class="container mt-2">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'homepage' %}">Home</a></li>
            </ol>
        </nav>
    </div>
    <div class="container">
        <!-- Modal -->
        <div class="modal fade" id="modal-them-benh-nhan" tabindex="-1" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Thêm Bệnh Nhân</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Mã Khám" id="makham">
                        </div>
                        <div class="input-group mb-3">
                            <input type="datetime-local" class="form-control" placeholder="Thời Gian Khám"
                                   id="thoigiankham">
                        </div>
                        <div class="form-group">
                            <div class="input-group mb-3">
                                <select class="form-control" id="cakham">
                                    <option>Ca 1</option>
                                    <option>Ca 2</option>
                                    <option>Ca 3</option>
                                </select>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Mã Bệnh Nhân"
                                   id="mabenhnhan2">
                        </div>
                        <div id="loaibenhnhan">
                            <input type="radio" value="noitru" name="loaibenhnhan" id="noitru" checked>
                            <label for="noitru">Nội Trú</label>
                            <input class="ml-5" type="radio" value="ngoaitru" name="loaibenhnhan" id="ngoaitru">
                            <label for="ngoaitru">Ngoại Trú</label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Thoát</button>
                        <button type="button" class="btn btn-primary" id="submit-thembenhnhan">Cật Nhật</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Modal -->
        <!-- Modal -->
        <div class="modal fade" id="modal-dangkibenhnhan" tabindex="-1" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Đăng Kí Bệnh Nhân</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h5 class="text-primary">Thông Tin Nhân Khẩu</h5>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Mã Bệnh Nhân" id="mabenhnhan">
                        </div>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Họ" id="ho">
                        </div>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Tên" id="ten">
                        </div>
                        <div class="input-group mb-3">
                            <input type="number" min="0"
                                   onkeyup="if(this.value<0){this.value= 0} else if (this.value>200) {this.value=200}"
                                   class="form-control" placeholder="Tuổi" id="tuoi">
                        </div>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Dân Tộc" id="dantoc">
                        </div>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Nghề Ngiệp" id="nghenghiep">
                        </div>

                        <h5 class="text-primary">Thông Tin Bảo Hiểm</h5>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Mã Thẻ" id="mathe">
                        </div>
                        <div class="input-group mb-3">
                            <input type="date" class="form-control" placeholder="Thời Hạn" id="thoihan">
                        </div>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Nơi Đăng Kí" id="noidangki">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Thoát</button>
                        <button type="button" class="btn btn-primary" id="submit-dangkibenhnhan">Cật Nhật</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Modal -->
        <!-- Modal -->
        <div class="modal fade" id="modal-thembenhan" tabindex="-1" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Thêm Bệnh Án</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="input-group mb-3">
                            <input type="datetime-local" class="form-control" placeholder="Thời Gian Nhập Viện"
                                   id="thoigiannhapvien">
                        </div>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Mã Khoa" id="makhoa-thembenhan">
                        </div>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Mã Bệnh Nhân"
                                   id="mabenhnhan-thembenhan">
                        </div>
                        <div class="input-group mb-3">
                            <input type="number" class="form-control" placeholder="Số Giường" id="sogiuong-thembenhan">
                        </div>
                        <div class="input-group mb-3">
                            <input type="number" class="form-control" placeholder="Số Buồng" id="sobuong-thembenhan">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Thoát</button>
                        <button type="button" class="btn btn-primary" id="submit-thembenhan">Cật Nhật</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Modal -->
        <!-- Modal -->
        <div class="modal fade" id="modal-xetnghiem" tabindex="-1" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Xét Nghiệm</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Mã Xét Nghiệm" id="maxetnghiem-xn">
                        </div>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Mã Khám"
                                   id="makham-xn">
                        </div>
                        <div class="input-group mb-3">
                            <input type="datetime-local" class="form-control" placeholder="Thời Gian Xét Nghiệm"
                                   id="tgxetnghiem-xn">
                        </div>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Tên Xét Nghiệm" id="tenxn-xn">
                        </div>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Nhận Xét" id="nhanxet-xn">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Thoát</button>
                        <button type="button" class="btn btn-primary" id="submit-themxetnghiem">Cật Nhật</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Modal -->
        <!-- Modal -->
        <div class="modal fade" id="modal-chupphim" tabindex="-1" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Chụp Phim</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Mã Phim" id="maphim-phim">
                        </div>
                        <div class="input-group mb-3">
                            <input type="datetime-local" class="form-control" placeholder="Thời Gian Chụp"
                                   id="tgchup-phim">
                        </div>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Mã Khám"
                                   id="makham-phim">
                        </div>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Loại Phim" id="loaiphim-phim">
                        </div>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Nhận Xét" id="nhanxet-phim">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Thoát</button>
                        <button type="button" class="btn btn-primary" id="submit-chupphim">Cật Nhật</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Modal -->
        <!-- Modal -->
        <div class="modal fade" id="modal-xuatvien" tabindex="-1" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Bệnh Án Xuất Viện</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Mã Khoa" id="makhoa">
                        </div>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Mã Bác Sĩ Chỉ Định Nhập Viện"
                                   id="bacsinhapvien">
                        </div>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Mã Bệnh Nhân"
                                   id="mabenhnhan">
                        </div>
                        <div class="input-group mb-3">
                            <input type="datetime-local" class="form-control" placeholder="Thời Gian Xuất Viện"
                                   id="thoigianxuatvien">
                        </div>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Tình Trạng Xuất Viện" id="tinhtrangxuatvien">
                        </div>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Ghi Chú" id="ghichu">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Thoát</button>
                        <button type="button" class="btn btn-primary" id="submit">Thêm</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Modal -->
        <div class="container">
            <div class="row">
                <div class="col-md-12" data-toggle="modal" data-target="#modal-dangkibenhnhan">
                    <div class="card card-1">
                        <h3><i class="fa fa-plus"></i> Thêm Mới Bệnh Nhân</h3>
                        <p>A curated set of ES5/ES6/TypeScript wrappers for plugins to easily add any native
                            functionality to your Ionic apps.</p>
                    </div>
                </div>
                <div class="col-md-12" data-toggle="modal" data-target="#modal-them-benh-nhan">
                    <div class="card card-2">
                        <h3><i class="fa fa-plus"></i> Khám Bệnh</h3>
                        <p>Tabs, buttons, inputs, lists, cards, and more! A comprehensive library
                            of mobile UI components, ready to go.</p>
                    </div>
                </div>
                <div class="col-md-12" data-toggle="modal" data-target="#modal-thembenhan">
                    <div class="card card-3">
                        <h3><i class="fa fa-plus"></i> Thêm Bệnh Án</h3>
                        <p>Learn how to easily customize and modify your app’s design to fit your
                            brand across all mobile platform styles.</p>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card card-3" data-toggle="modal" data-target="#modal-xetnghiem">
                        <h3><i class="fa fa-plus"></i> Xét Nghiệm</h3>
                        <p>Learn how to easily customize and modify your app’s design to fit your
                            brand across all mobile platform styles.</p>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card card-3" data-toggle="modal" data-target="#modal-chupphim">
                        <h3><i class="fa fa-plus"></i> Chụp Phim</h3>
                        <p>Learn how to easily customize and modify your app’s design to fit your
                            brand across all mobile platform styles.</p>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card card-3" data-toggle="modal" data-target="#modal-xuatvien">
                        <h3><i class="fa fa-plus"></i> Xuất Viện</h3>
                        <p>Learn how to easily customize and modify your app’s design to fit your
                            brand across all mobile platform styles.</p>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-6">
                    <a href="{% url 'xetnghiem' %}">
                        <button class="float-lg-right btn btn-success p-lg-4" style="font-size: 15pt"><i
                                class="fa fa-book"></i> Danh Sách Xét Nghiệm
                        </button>
                    </a>
                </div>
                <div class="col-md-6">
                    <a href="{% url 'chupphim' %}">
                        <button class="btn btn-success p-lg-4" style="font-size: 15pt"><i class="fa fa-book"></i> Danh
                            Sách Chụp Phim
                        </button>
                    </a>
                </div>

            </div>
        </div>
    </div>
    <br>
    <br>
    {% load static %}
    <script>var token = '{{csrf_token}}';</script>
    <script src="{% static 'bootstrap/js/doctor.js' %}">
    </script>
{% endblock %}