{% extends 'homepage/Base.html' %}
{% block title %}
    <title>Patient</title>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row p-lg-5">
            <div class="col-lg-6 mb-lg-5 ">
                <a href="{% url 'chedothuoc' %}">
                    <button class="btn btn-success w-50 p-4 float-right">Thuốc</button>
                </a>
            </div>
            <div class="col-lg-6">
                <a href="{% url 'chedodinhduong' %}">
                    <button class="btn btn-success w-50 p-4">Chế Độ Dinh Dưỡng</button>
                </a>
            </div>
            <div class="col-lg-6">
                <a href="{% url 'danhsachxetnghiem' %}">
                    <button class="btn-success btn w-50 p-4 float-right">Xét Nghiệm</button>
                </a>
            </div>
            <div class="col-lg-6">
                <a href="{% url 'danhsachbacsi' %}">
                    <button class="btn-success btn w-50 p-4">Danh Sách Bác Sĩ</button>
                </a>
            </div>

        </div>
    </div>
    {% load static %}
    <script>var token = '{{csrf_token}}';</script>
    <script src="{% static 'bootstrap/js/patient.js' %}"></script>



{% endblock %}