{% extends 'homepage/Base.html' %}
{% block title %}
<title>Profile</title>
{% endblock %}
{% block content %}
<div class="container jumbotron mt-3 pt-3 bg-light">
        <fieldset class="border-bottom border-success mb-3">
            <legend class="text-success">Thông Tin Bệnh Nhân</legend>
        </fieldset>
        <table class="table table-{1:striped|sm|bordered|hover|inverse} table-inverse table-bordered">
            <thead class="thead-inverse|thead-default table-bordered table-success">
            <tr>
                <th>Mã Bệnh Nhân</th>
                <th>Tên</th>
                <th>Tuổi</th>
                <th>Dân Tộc</th>
                <th>Nghề Nghiệp</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    {% for key,value in info.items %}
                    <td scope="row">{{ value }}</td>
                    {% endfor %}
                </tr>

            </tbody>
        </table>
        <fieldset class="border-bottom border-success mb-3">
            <legend class="text-success">Thông Tin Bảo Hiểm</legend>
        </fieldset>
        <table class="table table-{1:striped|sm|bordered|hover|inverse} table-inverse table-bordered">
            <thead class="thead-inverse|thead-default table-bordered table-success">
            <tr>
                <th>Mã Thẻ</th>
                <th>Ngày Hết Hạn</th>
                <th>Nơi Đăng Kí</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    {% for key,value in baohiem.items %}
                    <td scope="row">{{ value }}</td>
                    {% endfor %}
                </tr>

            </tbody>
        </table>

    </div>
{% endblock %}