{% extends 'homepage/Base.html' %}
{% block title %}
    <title>Patient Info</title>
{% endblock %}
{% block content %}
    <div class="container jumbotron mt-3 pt-3 bg-light">
        <fieldset class="border-bottom border-primary mb-3">
            <legend class="text-dark">Danh Sách Bệnh Nhân</legend>
        </fieldset>
        <div class="d-lg-flex flex-row">
            <label for="ngaykham" class="mt-auto mb-auto mr-1">Chọn Ngày</label>
            <input type="date" class="form-control w-25" id="ngaykham">
        </div>

        <br>
        <table class="table table-{1:striped|sm|bordered|hover|inverse} table-inverse table-bordered" >
            <thead class="thead-inverse|thead-default table-bordered table-info">
            <tr>
                <th>Mã Bệnh Nhân</th>
                <th>Tên</th>
                <th>Tuổi</th>
                <th>Dân Tộc</th>
                <th>Nghề Nghiệp</th>
                <th>Chi Tiết</th>
            </tr>
            </thead>
            <tbody id="listbenhnhan">
            {% for value in data %}
                <tr>
                    <td scope="row">{{ value.0 }}</td>
                    <td scope="row">{{ value.1 }} {{ value.2 }}</td>
                    <td scope="row">{{ value.3 }}</td>
                    <td scope="row">{{ value.4 }}</td>
                    <td scope="row">{{ value.5 }}</td>
                    <td>
                        <a href={% url 'patient_info_with_id' value.0 %}><button class="btn btn-success">Xem</button></>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% load static %}
    <script src="{% static 'bootstrap/js/patient_info.js' %}"></script>
{% endblock %}